<footer>
    <button class="to-top"><i class="fa fa-chevron-up"></i>TOP</button>
  
    <div class="restaurant-info">
  
      <div class="locations">
        <h4>LOCATIONS</h4>
        <div class="location-1">
          <h5> 2 Rue Camille Pelletan<br />Montrouge&#8212; 92120</h5>
        </div>
      

        <!--location-1-->
       
      </div>
      <!--locations end-->
  
      <div class="hours">
        <h4>Heure</h4>
        <div class="weekdays">
          <h5>Lundi - Dimanche<br />
            12:00pm - 10:00pm
          </h5>
        </div>
        <!--weekdays end-->
  
        <!--weekends end-->
  
        
  
      </div>
      <!--hours end-->
  
    </div>
    <!--restaurant-info end-->
  
    <div class="copyright">
      <p><small>Copyright 2021 &#169; Sapori Di Casa<span></span></small></p>
      <p><small>Permissions and Copyright &#8226; Contact The Team</small></p>
  
  
   
  
    </div>
  
  </footer>
