<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2><a href="#" id="logo">Sapori Di Casa</a></h2>
    <a class="navbar-brand" href="index.html">
      <img src="images/logo.png" alt="" />
    </a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
      aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbars-rs-food">
      <ng-template [ngIf]="logout">
        <span>  <button  mat-raised-button color="warn" (click)="onClickMe()">Déconnexion</button>       </span> 
       
       </ng-template>
      <ng-template [ngIf]="account" [ngIfElse]="Connecter">
      <p>
        <span ><a class="profile"  href="/account" >Mon Compte  </a> <mat-icon>supervised_user_circle</mat-icon> </span>
    </p>
      </ng-template>
      <ng-template   #Connecter>
        <span ><a class="profile"  href="/login" >Connecter  </a> <mat-icon>supervised_user_circle</mat-icon> </span>
      </ng-template>
      <p>
        <span matBadge="0" matBadgeSize="medium"><a class="paniers" href="/panier"> Mon Panier   </a> <mat-icon>shopping_basket</mat-icon>   </span>
    </p>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item "><a  href="/accueil">Accueil</a></li>
        <li class="nav-item"><a  href="/menu">La Carte</a></li>
        <li class="nav-item"><a  href="about.html">Réservation</a></li>
        <li class="nav-item"><a  href="/commande">Commande Emporter</a></li>
        <li class="nav-item"><a  href="contact.html">Contact</a></li>
      </ul>
    </div>

  </nav>

</header>